
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
          <div class="card border-0 shadow rounded-3 my-5">
            <div class="card-body p-4 p-sm-5">
              <h5 class="card-title text-center mb-5 fw-light fs-5">Welcome</h5>
              <form #f="ngForm" (ngSubmit)="login()" >
                <div class="form-floating mb-3">
                  <input  name="email" class="form-control" placeholder="Email Address">
                  <label for="floatingInput">Email</label>
                </div>
                <div class="form-floating mb-3">
                  <input  name="password" type="password" class="form-control" placeholder="password">
                  <label for="floatingPassword">Password</label>
                </div>
                <div class="d-grid">
                  <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit" >Sign
                    in</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  